In [68]:
from pymongo import MongoClient
import pandas as pd
import numpy as np
import datetime

In [74]:
# Choose the appropriate client
client = MongoClient()

# Connect to the test db 
db = client.test

# Use the employee collection
coll_test = db.testcollection

# ====== Inserting Documents ====== #
# Creating a simple Pandas DataFrame
time = pd.Timestamp.now()
data = {'time': time,
       '1-8-0': np.random.random(1)*1000}
df = pd.DataFrame(data, )
# Bulk inserting documents. Each row in the DataFrame will be a document in Mongo
# coll_test.insert_many(df.to_dict('records'))

df

                        time       1-8-0
0 2019-04-20 14:19:01.160476  381.159826

In [70]:
# ====== Finding Documents ====== #
documents = coll_test.find()
df = pd.DataFrame(list(documents))
df

                        _id          in                    time
0  5cbae936988a4b0fa8313c05  618.202462 2019-04-20 11:41:10.685
1  5cbae940988a4b0fa8313c07  379.920572 2019-04-20 11:41:20.306
2  5cbae943988a4b0fa8313c09  640.194860 2019-04-20 11:41:23.492
3  5cbaeac6988a4b0fa8313c0b  333.017889 2019-04-20 11:47:50.060
4  5cbaebdb988a4b0fa8313c0d  431.309972 2019-04-20 11:52:27.437

In [ ]:
start = datetime.datetime(2012, 2, 2, 6, 35, 6, 764)
end = datetime.datetime(2012, 2, 2, 6, 55, 3, 381)

for doc in db.wing_model.find({'time': {'$gte': start, '$lt': end}}):
    print doc

In [73]:
s0 = '2019-04-20 11:41:15.00'
s1 = '2019-04-20 11:48:15.00'
t0 = datetime.datetime.strptime(s0, '%Y-%m-%d %H:%M:%S.%f')
t1 = datetime.datetime.strptime(s1, '%Y-%m-%d %H:%M:%S.%f')

for doc in db.testcollection.find({'time': {'$gte': t0, '$lt': t1}}):
    print(doc)

{'_id': ObjectId('5cbae940988a4b0fa8313c07'), 'time': datetime.datetime(2019, 4, 20, 11, 41, 20, 306000), 'in': 379.9205716055392}
{'_id': ObjectId('5cbae943988a4b0fa8313c09'), 'time': datetime.datetime(2019, 4, 20, 11, 41, 23, 492000), 'in': 640.1948604415066}
{'_id': ObjectId('5cbaeac6988a4b0fa8313c0b'), 'time': datetime.datetime(2019, 4, 20, 11, 47, 50, 60000), 'in': 333.0178891489507}

In [3]:
Queryresult

{'_id': ObjectId('5cbadf9b988a4b0fa8313bf9'),
 'Name': 'Raj Kumar',
 'Address': 'Sears Streer, NZ',
 'Age': '42'}

In [4]:
# ====== Inserting Documents ====== #
# Creating a simple Pandas DataFrame
liste_hello = ['hello1','hello2']
liste_world = ['world1','world2']
df = pd.DataFrame(data = {'hello' : liste_hello, 'world': liste_world})
# Bulk inserting documents. Each row in the DataFrame will be a document in Mongo
db.insert_many(df.to_dict('records'))

NameError: name 'pd' is not defined

In [9]:
db_connect = client
database_name = 'test'
database = db_connect[database_name]
collection = database.collection_names(include_system_collections=False)
for collect in collection:
    print(collect)

employee

/Users/hkromer/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: DeprecationWarning: collection_names is deprecated. Use list_collection_names instead.
  after removing the cwd from sys.path.

In [16]:
client.drop_database('test')

In [17]:
list(client.list_databases())

[{'name': 'admin', 'sizeOnDisk': 32768.0, 'empty': False},
 {'name': 'config', 'sizeOnDisk': 98304.0, 'empty': False},
 {'name': 'local', 'sizeOnDisk': 32768.0, 'empty': False}]

In [25]:
client.test.testcollection.drop()

In [50]:
start = datetime.datetime(2012, 2, 2, 6, 35, 6, 764)
end = datetime.datetime(2012, 2, 2, 6, 55, 3, 381)

for doc in db.wing_model.find({'time': {'$gte': start, '$lt': end}}):
    print doc

{'_id': ObjectId('5cbae936988a4b0fa8313c05'), 'time': datetime.datetime(2019, 4, 20, 11, 41, 10, 685000), 'in': 618.2024621563083}
{'_id': ObjectId('5cbae940988a4b0fa8313c07'), 'time': datetime.datetime(2019, 4, 20, 11, 41, 20, 306000), 'in': 379.9205716055392}
{'_id': ObjectId('5cbae943988a4b0fa8313c09'), 'time': datetime.datetime(2019, 4, 20, 11, 41, 23, 492000), 'in': 640.1948604415066}