# Exploratory data analysis of DarkSky dataset.

In [56]:
import pandas as pd
import os
import json

In [57]:
# Folder where the DarkSky json data is located
DATAFOLDER = '../01.Original_data/DarkSky/'

## Load all the json data into one dataframe

In [58]:
# What json daily files are in the folder
files = [f'{DATAFOLDER}{item}' for item in os.listdir(DATAFOLDER) if item.endswith('json')]
n_files = len(files)

# Dataframe to hold all the DarkSky data
df = pd.DataFrame()

# loop through the files and append to pandas dataframe
for file in files:
    # load json file
    with open(f'{file}') as f:
        d = json.load(f)
        f.close()
    # append to df if daily in keys
    if 'daily' in d.keys():
        df = df.append(d['daily']['data'])

n_imported = len(df)

print(f"Imported {n_imported} datapoints. {n_files-n_imported} had no daily entry.")

Imported 922 datapoints. 7 had no daily entry.

In [59]:
# Only 7 missing entries, lets see if we can identify them based on the times
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 922 entries, 0 to 0
Data columns (total 45 columns):
apparentTemperatureHigh        922 non-null float64
apparentTemperatureHighTime    922 non-null int64
apparentTemperatureLow         839 non-null float64
apparentTemperatureLowTime     839 non-null float64
apparentTemperatureMax         917 non-null float64
apparentTemperatureMaxTime     917 non-null float64
apparentTemperatureMin         917 non-null float64
apparentTemperatureMinTime     917 non-null float64
cloudCover                     740 non-null float64
dewPoint                       917 non-null float64
humidity                       917 non-null float64
icon                           784 non-null object
moonPhase                      922 non-null float64
ozone                          607 non-null float64
precipAccumulation             57 non-null float64
precipIntensity                839 non-null float64
precipIntensityMax             839 non-null float64
precipIntensityMaxError        1 non-null float64
precipIntensityMaxTime         811 non-null float64
precipProbability              837 non-null float64
precipType                     780 non-null object
pressure                       839 non-null float64
summary                        790 non-null object
sunriseTime                    922 non-null int64
sunsetTime                     922 non-null int64
temperatureHigh                922 non-null float64
temperatureHighError           1 non-null float64
temperatureHighTime            922 non-null int64
temperatureLow                 839 non-null float64
temperatureLowError            1 non-null float64
temperatureLowTime             839 non-null float64
temperatureMax                 917 non-null float64
temperatureMaxError            1 non-null float64
temperatureMaxTime             917 non-null float64
temperatureMin                 917 non-null float64
temperatureMinError            1 non-null float64
temperatureMinTime             917 non-null float64
time                           922 non-null int64
uvIndex                        889 non-null float64
uvIndexTime                    889 non-null float64
visibility                     885 non-null float64
windBearing                    896 non-null float64
windGust                       839 non-null float64
windGustTime                   839 non-null float64
windSpeed                      896 non-null float64
dtypes: float64(37), int64(5), object(3)
memory usage: 331.3+ KB

## Convert times into timestamps

Times returned by DarkSky are in UNIX timestamp. This is a problem for direct conversion, because the pandas sereies needs to be timezone aware. We can deal with this by adding the timezone information and converting to the respective timezone for all the timestamp objects.

In [61]:
# columns with time information
cols_time = [c for c in df.columns if ('Time' in c) or ('time' in c)]

for col in cols_time:
    df[col] = pd.to_datetime(df[col], unit='s').dt.tz_localize('utc').dt.tz_convert('Europe/Zurich')
    
# order the dataframe by time
df = df.sort_values(by='time')

In [62]:
df.head()

,apparentTemperatureHigh,apparentTemperatureHighTime,apparentTemperatureLow,apparentTemperatureLowTime,apparentTemperatureMax,apparentTemperatureMaxTime,apparentTemperatureMin,apparentTemperatureMinTime,cloudCover,dewPoint,...,temperatureMinError,temperatureMinTime,time,uvIndex,uvIndexTime,visibility,windBearing,windGust,windGustTime,windSpeed
0,15.92,2017-10-01 16:13:00+02:00,9.71,2017-10-01 23:42:00+02:00,15.92,2017-10-01 16:13:00+02:00,8.87,2017-10-01 08:20:00+02:00,NaN,9.98,...,NaN,2017-10-01 08:20:00+02:00,2017-10-01 00:00:00+02:00,4.0,2017-10-01 13:45:00+02:00,9.186,247.0,4.61,2017-10-01 13:17:00+02:00,0.37
0,17.15,2017-10-02 16:46:00+02:00,12.70,2017-10-03 08:00:00+02:00,17.15,2017-10-02 16:46:00+02:00,9.74,2017-10-02 00:00:00+02:00,0.81,11.77,...,NaN,2017-10-02 00:00:00+02:00,2017-10-02 00:00:00+02:00,3.0,2017-10-02 13:17:00+02:00,9.992,229.0,8.87,2017-10-02 21:57:00+02:00,0.61
0,16.14,2017-10-03 17:00:00+02:00,5.25,2017-10-04 04:29:00+02:00,17.67,2017-10-03 04:39:00+02:00,7.78,2017-10-03 23:00:00+02:00,0.76,11.01,...,NaN,2017-10-03 23:00:00+02:00,2017-10-03 00:00:00+02:00,4.0,2017-10-03 13:00:00+02:00,9.858,269.0,10.01,2017-10-03 05:06:00+02:00,1.00
0,15.47,2017-10-04 17:24:00+02:00,4.75,2017-10-05 03:25:00+02:00,15.47,2017-10-04 17:24:00+02:00,5.25,2017-10-04 04:29:00+02:00,NaN,6.59,...,NaN,2017-10-04 04:29:00+02:00,2017-10-04 00:00:00+02:00,0.0,2017-10-04 00:00:00+02:00,9.991,230.0,4.62,2017-10-04 15:58:00+02:00,0.24
0,19.81,2017-10-05 15:09:00+02:00,5.68,2017-10-06 07:52:00+02:00,19.81,2017-10-05 15:09:00+02:00,4.75,2017-10-05 03:25:00+02:00,NaN,6.29,...,NaN,2017-10-05 03:25:00+02:00,2017-10-05 00:00:00+02:00,1.0,2017-10-05 16:00:00+02:00,9.837,233.0,9.64,2017-10-05 15:03:00+02:00,0.94

In [63]:
# save the data
fname = 'data_time_converted.csv'
df.to_csv(f"../02.Prepared_data/DarkSky/{fname}")

## Choose columns to use for analysis

For our goal, the prediction of solar production output, we would consider data on temperature, sun, and precipitation relevant. The time information is to coarse, sometimes the maxima are reported during the night hours, or on the next/pervious day, which might give a wrong picture. We should drop the time informations for now, maybe re-visit this in a later stage.

In [100]:
df.columns.tolist()

['apparentTemperatureHigh',
 'apparentTemperatureHighTime',
 'apparentTemperatureLow',
 'apparentTemperatureLowTime',
 'apparentTemperatureMax',
 'apparentTemperatureMaxTime',
 'apparentTemperatureMin',
 'apparentTemperatureMinTime',
 'cloudCover',
 'precipAccumulation',
 'precipIntensity',
 'precipIntensityMax',
 'precipProbability',
 'precipType',
 'sunriseTime',
 'sunsetTime',
 'temperatureHigh',
 'temperatureHighTime',
 'temperatureLow',
 'temperatureLowTime',
 'temperatureMax',
 'temperatureMaxTime',
 'temperatureMin',
 'temperatureMinTime',
 'time',
 'uvIndex']

In [101]:
cols = ['apparentTemperatureHigh',
 'apparentTemperatureLow',
 'apparentTemperatureMax',
 'apparentTemperatureMin',
 'cloudCover',
 'precipAccumulation',
 'precipIntensity',
 'precipIntensityMax',
 'precipProbability',
 'precipType',
 'sunriseTime',
 'sunsetTime',
 'temperatureHigh',
 'temperatureLow',
 'temperatureMax',
 'temperatureMin',
 'time',
 'uvIndex']

df = df[cols]

`apparentTemperatureMax` is the maximum temperature of that day, `apparentTemperatureHigh` is the maximum temperature during the **daytime** of that day. Same holds for the minimum. However, if we look at the 'times' of these temperatures, we see that this is inconsistent for the minima, the time is in some cases on the previous or the next day.

In [103]:
df

,apparentTemperatureHigh,apparentTemperatureLow,apparentTemperatureMax,apparentTemperatureMin,cloudCover,precipAccumulation,precipIntensity,precipIntensityMax,precipProbability,precipType,sunriseTime,sunsetTime,temperatureHigh,temperatureLow,temperatureMax,temperatureMin,time,uvIndex
0,15.92,9.71,15.92,8.87,NaN,NaN,0.0131,0.1962,0.76,rain,2017-10-01 07:29:00+02:00,2017-10-01 19:09:00+02:00,16.20,9.44,16.20,8.60,2017-10-01 00:00:00+02:00,4.0
0,17.15,12.70,17.15,9.74,0.81,NaN,0.0280,0.2159,0.81,rain,2017-10-02 07:30:00+02:00,2017-10-02 19:07:00+02:00,17.43,12.43,17.43,9.47,2017-10-02 00:00:00+02:00,3.0
0,16.14,5.25,17.67,7.78,0.76,NaN,1.0012,9.2915,0.99,rain,2017-10-03 07:32:00+02:00,2017-10-03 19:05:00+02:00,16.42,4.98,17.89,7.51,2017-10-03 00:00:00+02:00,4.0
0,15.47,4.75,15.47,5.25,NaN,NaN,0.0075,0.1589,0.62,rain,2017-10-04 07:33:00+02:00,2017-10-04 19:03:00+02:00,15.75,4.48,15.75,4.98,2017-10-04 00:00:00+02:00,0.0
0,19.81,5.68,19.81,4.75,NaN,NaN,0.3074,3.2280,0.99,rain,2017-10-05 07:34:00+02:00,2017-10-05 19:01:00+02:00,20.09,5.41,20.09,4.48,2017-10-05 00:00:00+02:00,1.0
0,11.35,5.64,11.35,5.68,0.77,NaN,0.1512,2.0875,0.99,rain,2017-10-06 07:36:00+02:00,2017-10-06 18:59:00+02:00,11.63,5.37,11.63,5.41,2017-10-06 00:00:00+02:00,3.0
0,13.94,8.22,13.94,5.64,NaN,NaN,0.0061,0.1859,0.76,rain,2017-10-07 07:37:00+02:00,2017-10-07 18:57:00+02:00,14.22,7.95,14.22,5.37,2017-10-07 00:00:00+02:00,0.0
0,12.81,8.80,12.81,8.22,0.88,NaN,0.3646,2.1444,0.99,rain,2017-10-08 07:39:00+02:00,2017-10-08 18:55:00+02:00,13.09,8.53,13.09,7.95,2017-10-08 00:00:00+02:00,3.0
0,13.94,5.67,13.94,8.25,0.82,NaN,0.0607,0.3676,0.89,rain,2017-10-09 07:40:00+02:00,2017-10-09 18:53:00+02:00,14.22,5.40,14.22,7.98,2017-10-09 00:00:00+02:00,3.0
0,15.63,8.14,15.63,5.67,0.82,NaN,0.0076,0.0891,0.62,rain,2017-10-10 07:42:00+02:00,2017-10-10 18:51:00+02:00,15.91,7.87,15.91,5.40,2017-10-10 00:00:00+02:00,3.0
0,19.72,8.98,19.72,8.14,0.46,NaN,0.0000,0.0000,0.00,NaN,2017-10-11 07:43:00+02:00,2017-10-11 18:49:00+02:00,20.00,8.71,20.00,7.87,2017-10-11 00:00:00+02:00,3.0
0,18.74,6.86,18.74,9.05,0.68,NaN,0.0000,0.0000,0.00,NaN,2017-10-12 07:44:00+02:00,2017-10-12 18:47:00+02:00,19.02,6.59,19.02,8.78,2017-10-12 00:00:00+02:00,3.0
0,21.26,7.45,21.26,6.86,NaN,NaN,0.0086,0.1302,0.70,rain,2017-10-13 07:46:00+02:00,2017-10-13 18:45:00+02:00,21.54,7.18,21.54,6.59,2017-10-13 00:00:00+02:00,0.0
0,21.30,6.46,21.30,7.45,NaN,NaN,0.0086,0.1203,0.63,rain,2017-10-14 07:47:00+02:00,2017-10-14 18:43:00+02:00,21.58,6.19,21.58,7.18,2017-10-14 00:00:00+02:00,0.0
0,25.41,8.21,25.41,6.46,NaN,NaN,0.0081,0.1599,0.62,rain,2017-10-15 07:49:00+02:00,2017-10-15 18:41:00+02:00,25.69,7.94,25.69,6.19,2017-10-15 00:00:00+02:00,0.0
0,25.55,7.41,25.55,8.21,NaN,NaN,0.0000,0.0000,0.00,NaN,2017-10-16 07:50:00+02:00,2017-10-16 18:39:00+02:00,25.83,7.14,25.83,7.94,2017-10-16 00:00:00+02:00,0.0
0,24.08,5.73,24.08,7.41,NaN,NaN,0.0000,0.0000,0.00,NaN,2017-10-17 07:52:00+02:00,2017-10-17 18:37:00+02:00,24.36,5.46,24.36,7.14,2017-10-17 00:00:00+02:00,0.0
0,22.16,7.44,22.16,5.73,NaN,NaN,0.0006,0.0118,0.05,rain,2017-10-18 07:53:00+02:00,2017-10-18 18:36:00+02:00,22.44,7.17,22.44,5.46,2017-10-18 00:00:00+02:00,0.0
0,23.16,9.63,23.16,7.44,NaN,NaN,0.0000,0.0000,0.00,NaN,2017-10-19 07:55:00+02:00,2017-10-19 18:34:00+02:00,23.44,9.36,23.44,7.17,2017-10-19 00:00:00+02:00,0.0
0,19.32,14.48,19.32,9.63,0.80,NaN,0.0283,0.3525,0.84,rain,2017-10-20 07:56:00+02:00,2017-10-20 18:32:00+02:00,19.60,14.21,19.60,9.36,2017-10-20 00:00:00+02:00,2.0
0,21.23,8.38,21.23,10.28,0.86,NaN,0.2599,1.8197,0.99,rain,2017-10-21 07:58:00+02:00,2017-10-21 18:30:00+02:00,21.51,9.10,21.51,10.01,2017-10-21 00:00:00+02:00,2.0
0,11.17,6.90,11.47,7.38,0.70,NaN,0.1159,0.5574,0.98,rain,2017-10-22 07:59:00+02:00,2017-10-22 18:28:00+02:00,11.45,6.63,11.75,7.11,2017-10-22 00:00:00+02:00,2.0
0,10.81,8.37,10.81,6.90,0.85,NaN,0.2665,1.0769,0.99,rain,2017-10-23 08:01:00+02:00,2017-10-23 18:26:00+02:00,11.09,8.10,11.09,6.63,2017-10-23 00:00:00+02:00,2.0
0,16.98,8.01,16.98,8.28,0.89,NaN,0.0413,0.5264,0.96,rain,2017-10-24 08:02:00+02:00,2017-10-24 18:25:00+02:00,17.26,7.74,17.26,8.01,2017-10-24 00:00:00+02:00,1.0
0,20.49,8.01,20.49,8.01,NaN,NaN,0.0056,0.1199,0.62,rain,2017-10-25 08:04:00+02:00,2017-10-25 18:23:00+02:00,20.77,7.74,20.77,7.74,2017-10-25 00:00:00+02:00,0.0
0,21.06,9.91,21.06,8.01,0.78,NaN,0.0085,0.1005,0.70,rain,2017-10-26 08:05:00+02:00,2017-10-26 18:21:00+02:00,21.34,9.64,21.34,7.74,2017-10-26 00:00:00+02:00,2.0
0,13.66,2.68,13.74,5.44,0.60,NaN,0.1457,1.6075,0.98,rain,2017-10-27 08:07:00+02:00,2017-10-27 18:20:00+02:00,13.94,2.41,14.02,5.17,2017-10-27 00:00:00+02:00,2.0
0,11.26,7.05,11.26,2.68,NaN,NaN,0.0085,0.1213,0.63,rain,2017-10-28 08:08:00+02:00,2017-10-28 18:18:00+02:00,11.54,7.99,11.54,2.41,2017-10-28 00:00:00+02:00,2.0
0,10.10,1.25,10.10,4.57,0.90,NaN,0.3557,3.9969,0.99,rain,2017-10-29 07:10:00+01:00,2017-10-29 17:16:00+01:00,10.38,0.98,10.38,4.30,2017-10-29 00:00:00+02:00,2.0
0,9.22,-1.05,9.22,0.68,0.34,NaN,0.0026,0.0195,0.12,rain,2017-10-30 07:12:00+01:00,2017-10-30 17:15:00+01:00,9.50,-1.32,9.50,0.41,2017-10-30 00:00:00+01:00,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,18.68,6.62,18.68,6.26,0.18,NaN,0.0046,0.0197,0.07,rain,2020-03-18 06:35:00+01:00,2020-03-18 18:39:00+01:00,18.96,6.35,18.96,5.99,2020-03-18 00:00:00+01:00,4.0
0,18.87,7.60,18.87,6.62,0.06,NaN,0.0290,0.1294,0.10,rain,2020-03-19 06:33:00+01:00,2020-03-19 18:41:00+01:00,19.15,7.33,19.15,6.35,2020-03-19 00:00:00+01:00,4.0
0,17.10,7.29,17.10,7.60,0.19,NaN,0.1479,0.5320,0.46,rain,2020-03-20 06:31:00+01:00,2020-03-20 18:42:00+01:00,17.38,7.02,17.38,7.33,2020-03-20 00:00:00+01:00,4.0
0,8.43,-1.11,8.90,2.67,0.85,NaN,0.0395,0.1770,0.59,rain,2020-03-21 06:29:00+01:00,2020-03-21 18:44:00+01:00,9.20,1.70,9.20,4.85,2020-03-21 00:00:00+01:00,3.0
0,11.21,-8.07,11.21,-5.26,0.57,NaN,0.0156,0.0775,0.15,rain,2020-03-22 06:27:00+01:00,2020-03-22 18:45:00+01:00,11.34,-4.31,11.34,-1.24,2020-03-22 00:00:00+01:00,3.0
0,10.59,-8.11,10.59,-8.07,0.00,NaN,0.0000,0.0000,0.00,NaN,2020-03-23 06:25:00+01:00,2020-03-23 18:47:00+01:00,10.63,-4.76,10.63,-4.31,2020-03-23 00:00:00+01:00,3.0
0,6.84,-6.48,6.84,-8.11,0.00,0.0,0.0023,0.0087,0.01,snow,2020-03-24 06:23:00+01:00,2020-03-24 18:48:00+01:00,9.34,-3.80,9.34,-4.76,2020-03-24 00:00:00+01:00,4.0
0,7.17,-6.03,7.17,-6.48,0.00,0.0,0.0054,0.0105,0.02,snow,2020-03-25 06:21:00+01:00,2020-03-25 18:49:00+01:00,9.55,-3.58,9.55,-3.80,2020-03-25 00:00:00+01:00,4.0
0,11.13,-2.02,11.13,-6.03,0.25,NaN,0.0033,0.0094,0.01,rain,2020-03-26 06:19:00+01:00,2020-03-26 18:51:00+01:00,11.30,-1.36,11.30,-3.58,2020-03-26 00:00:00+01:00,4.0
0,14.15,3.59,14.15,-2.02,0.49,NaN,0.0029,0.0105,0.04,rain,2020-03-27 06:17:00+01:00,2020-03-27 18:52:00+01:00,14.43,3.32,14.43,-1.36,2020-03-27 00:00:00+01:00,4.0
0,16.79,1.61,16.79,3.59,0.51,NaN,0.0112,0.0640,0.05,rain,2020-03-28 06:15:00+01:00,2020-03-28 18:54:00+01:00,17.07,2.97,17.07,3.32,2020-03-28 00:00:00+01:00,3.0
0,4.21,-4.40,5.60,-1.08,0.70,NaN,0.2506,0.6203,0.75,rain,2020-03-29 07:13:00+02:00,2020-03-29 19:55:00+02:00,6.22,-0.73,6.70,1.63,2020-03-29 00:00:00+01:00,3.0
0,4.26,-6.26,4.26,-4.46,0.63,NaN,0.0449,0.3594,0.48,rain,2020-03-30 07:11:00+02:00,2020-03-30 19:57:00+02:00,6.96,-3.43,6.96,-1.03,2020-03-30 00:00:00+02:00,3.0
0,8.72,-5.38,8.72,-6.26,0.01,0.0,0.0025,0.0072,0.02,snow,2020-03-31 07:09:00+02:00,2020-03-31 19:58:00+02:00,10.40,-3.04,10.40,-3.43,2020-03-31 00:00:00+02:00,4.0
0,12.99,-0.99,12.99,-5.38,0.00,NaN,0.0019,0.0094,0.01,rain,2020-04-01 07:07:00+02:00,2020-04-01 19:59:00+02:00,13.27,-0.05,13.27,-3.04,2020-04-01 00:00:00+02:00,5.0
0,14.41,0.62,14.41,-0.99,0.04,NaN,0.0022,0.0083,0.03,rain,2020-04-02 07:05:00+02:00,2020-04-02 20:01:00+02:00,14.69,0.35,14.69,-0.05,2020-04-02 00:00:00+02:00,5.0
0,13.90,0.99,13.90,0.62,0.27,NaN,0.0016,0.0053,0.02,rain,2020-04-03 07:03:00+02:00,2020-04-03 20:02:00+02:00,14.18,2.24,14.18,0.35,2020-04-03 00:00:00+02:00,5.0
0,17.16,2.48,17.16,0.99,0.17,NaN,0.0017,0.0052,0.02,rain,2020-04-04 07:01:00+02:00,2020-04-04 20:04:00+02:00,17.44,3.77,17.44,2.24,2020-04-04 00:00:00+02:00,5.0
0,19.77,5.91,19.77,2.48,0.02,NaN,0.0000,0.0000,0.00,NaN,2020-04-05 06:59:00+02:00,2020-04-05 20:05:00+02:00,20.05,6.49,20.05,3.77,2020-04-05 00:00:00+02:00,6.0
0,21.06,7.93,21.06,5.91,0.05,NaN,0.0009,0.0051,0.02,rain,2020-04-06 06:57:00+02:00,2020-04-06 20:07:00+02:00,21.34,7.66,21.34,6.49,2020-04-06 00:00:00+02:00,6.0
0,22.21,8.33,22.21,7.93,0.10,NaN,0.0000,0.0000,0.00,NaN,2020-04-07 06:55:00+02:00,2020-04-07 20:08:00+02:00,22.49,8.06,22.49,7.66,2020-04-07 00:00:00+02:00,6.0
0,21.99,9.95,21.99,8.33,0.00,NaN,0.0010,0.0083,0.01,rain,2020-04-08 06:53:00+02:00,2020-04-08 20:09:00+02:00,22.27,9.68,22.27,8.06,2020-04-08 00:00:00+02:00,5.0
0,21.59,9.34,21.59,9.95,0.30,NaN,0.0034,0.0119,0.03,rain,2020-04-09 06:51:00+02:00,2020-04-09 20:11:00+02:00,21.87,9.59,21.87,9.68,2020-04-09 00:00:00+02:00,5.0
0,22.92,10.34,22.92,9.34,0.03,NaN,0.0021,0.0095,0.01,rain,2020-04-10 06:49:00+02:00,2020-04-10 20:12:00+02:00,23.20,10.07,23.20,9.59,2020-04-10 00:00:00+02:00,6.0
0,21.62,10.82,21.62,10.34,0.29,NaN,0.0129,0.0438,0.06,rain,2020-04-11 06:47:00+02:00,2020-04-11 20:14:00+02:00,21.90,10.55,21.90,10.07,2020-04-11 00:00:00+02:00,6.0
0,22.79,11.41,22.79,10.82,0.19,NaN,0.0368,0.2002,0.08,rain,2020-04-12 06:45:00+02:00,2020-04-12 20:15:00+02:00,23.07,11.14,23.07,10.55,2020-04-12 00:00:00+02:00,6.0
0,19.21,-1.53,19.21,6.55,0.61,NaN,0.0990,0.6435,0.27,rain,2020-04-13 06:43:00+02:00,2020-04-13 20:17:00+02:00,19.49,0.50,19.49,7.94,2020-04-13 00:00:00+02:00,5.0
0,13.89,-2.13,13.89,-1.53,0.06,NaN,0.0026,0.0239,0.02,rain,2020-04-14 06:41:00+02:00,2020-04-14 20:18:00+02:00,14.17,0.30,14.17,0.50,2020-04-14 00:00:00+02:00,6.0
0,20.09,5.81,20.09,-2.13,0.05,NaN,0.0000,0.0000,0.00,NaN,2020-04-15 06:39:00+02:00,2020-04-15 20:19:00+02:00,20.37,6.22,20.37,0.30,2020-04-15 00:00:00+02:00,6.0
0,20.88,10.12,20.88,5.81,0.35,NaN,0.0092,0.0553,0.03,rain,2020-04-16 06:37:00+02:00,2020-04-16 20:21:00+02:00,21.16,9.85,21.16,6.22,2020-04-16 00:00:00+02:00,4.0

In [95]:
df.loc[~(df['apparentTemperatureMax'] == df['apparentTemperatureHigh'])].loc[:, ['time', 'apparentTemperatureMax', 'apparentTemperatureHigh', 'apparentTemperatureHighTime', 'apparentTemperatureMaxTime']]

,time,apparentTemperatureMax,apparentTemperatureHigh,apparentTemperatureHighTime,apparentTemperatureMaxTime
0,2017-10-03 00:00:00+02:00,17.67,16.14,2017-10-03 17:00:00+02:00,2017-10-03 04:39:00+02:00
0,2017-10-22 00:00:00+02:00,11.47,11.17,2017-10-22 12:08:00+02:00,2017-10-22 03:00:00+02:00
0,2017-10-27 00:00:00+02:00,13.74,13.66,2017-10-27 07:00:00+02:00,2017-10-27 06:32:00+02:00
0,2017-11-05 00:00:00+01:00,12.34,10.79,2017-11-05 08:41:00+01:00,2017-11-05 02:07:00+01:00
0,2017-11-07 00:00:00+01:00,5.04,4.82,2017-11-07 19:00:00+01:00,2017-11-07 23:00:00+01:00
0,2017-11-10 00:00:00+01:00,6.59,5.39,2017-11-10 18:04:00+01:00,2017-11-10 22:07:00+01:00
0,2017-11-11 00:00:00+01:00,9.32,7.33,2017-11-11 18:09:00+01:00,2017-11-11 23:00:00+01:00
0,2017-11-20 00:00:00+01:00,6.91,5.28,2017-11-20 18:00:00+01:00,2017-11-20 22:59:00+01:00
0,2017-11-25 00:00:00+01:00,10.50,6.95,2017-11-25 07:00:00+01:00,2017-11-25 00:01:00+01:00
0,2017-11-28 00:00:00+01:00,5.45,4.09,2017-11-28 11:09:00+01:00,2017-11-28 02:04:00+01:00
0,2017-12-07 00:00:00+01:00,9.76,8.56,2017-12-07 14:03:00+01:00,2017-12-07 22:50:00+01:00
0,2017-12-08 00:00:00+01:00,6.42,4.49,2017-12-08 07:00:00+01:00,2017-12-08 00:00:00+01:00
0,2017-12-10 00:00:00+01:00,7.08,6.78,2017-12-10 17:56:00+01:00,2017-12-10 22:59:00+01:00
0,2017-12-12 00:00:00+01:00,4.94,3.36,2017-12-12 16:01:00+01:00,2017-12-12 00:38:00+01:00
0,2017-12-13 00:00:00+01:00,6.50,6.20,2017-12-13 14:51:00+01:00,2017-12-13 21:13:00+01:00
0,2017-12-14 00:00:00+01:00,5.62,4.39,2017-12-14 15:16:00+01:00,2017-12-14 00:13:00+01:00
0,2017-12-16 00:00:00+01:00,3.04,1.86,2017-12-16 08:48:00+01:00,2017-12-16 00:00:00+01:00
0,2017-12-28 00:00:00+01:00,2.15,0.55,2017-12-28 13:41:00+01:00,2017-12-28 03:00:00+01:00
0,2018-01-01 00:00:00+01:00,11.64,8.34,2018-01-01 14:24:00+01:00,2018-01-01 00:00:00+01:00
0,2018-01-08 00:00:00+01:00,5.67,4.48,2018-01-08 14:40:00+01:00,2018-01-08 21:59:00+01:00
0,2018-01-17 00:00:00+01:00,3.56,1.83,2018-01-17 15:02:00+01:00,2018-01-17 00:00:00+01:00
0,2018-01-19 00:00:00+01:00,6.20,4.25,2018-01-19 10:03:00+01:00,2018-01-19 02:50:00+01:00
0,2018-01-20 00:00:00+01:00,6.87,5.90,2018-01-20 14:14:00+01:00,2018-01-20 22:31:00+01:00
0,2018-01-21 00:00:00+01:00,6.26,3.83,2018-01-21 15:44:00+01:00,2018-01-21 01:05:00+01:00
0,2018-01-26 00:00:00+01:00,8.67,6.83,2018-01-26 07:00:00+01:00,2018-01-26 04:04:00+01:00
0,2018-02-12 00:00:00+01:00,3.13,2.25,2018-02-12 16:50:00+01:00,2018-02-12 00:00:00+01:00
0,2018-02-15 00:00:00+01:00,8.94,7.56,2018-02-15 19:00:00+01:00,2018-02-15 22:54:00+01:00
0,2018-02-17 00:00:00+01:00,2.53,2.40,2018-02-17 07:00:00+01:00,2018-02-17 05:12:00+01:00
0,2018-02-23 00:00:00+01:00,-0.55,-0.73,2018-02-23 16:30:00+01:00,2018-02-23 01:12:00+01:00
0,2018-02-26 00:00:00+01:00,-6.18,-6.94,2018-02-26 18:11:00+01:00,2018-02-26 00:00:00+01:00
...,...,...,...,...,...
0,2019-01-14 00:00:00+01:00,2.76,2.02,2019-01-14 08:34:00+01:00,2019-01-14 00:00:00+01:00
0,2019-01-28 00:00:00+01:00,-2.01,-2.08,2019-01-28 19:00:00+01:00,2019-01-28 22:22:00+01:00
0,2019-02-03 00:00:00+01:00,1.09,-1.22,2019-02-03 07:00:00+01:00,2019-02-03 01:05:00+01:00
0,2019-03-04 00:00:00+01:00,11.32,11.18,2019-03-04 07:00:00+01:00,2019-03-04 00:00:00+01:00
0,2019-03-09 00:00:00+01:00,7.54,7.12,2019-03-09 19:00:00+01:00,2019-03-09 23:00:00+01:00
0,2019-03-11 00:00:00+01:00,1.96,0.76,2019-03-11 16:36:00+01:00,2019-03-11 00:57:00+01:00
0,2019-03-14 00:00:00+01:00,5.02,0.84,2019-03-14 19:00:00+01:00,2019-03-14 23:00:00+01:00
0,2019-06-06 00:00:00+02:00,17.70,14.01,2019-06-06 19:00:00+02:00,2019-06-06 00:00:00+02:00
0,2019-06-26 00:00:00+02:00,41.87,41.78,2019-06-26 19:00:00+02:00,2019-06-26 19:23:00+02:00
0,2019-07-28 00:00:00+02:00,18.96,18.20,2019-07-28 12:45:00+02:00,2019-07-28 00:00:00+02:00
0,2019-10-08 00:00:00+02:00,17.69,16.61,2019-10-08 18:00:00+02:00,2019-10-08 21:54:00+02:00
0,2019-10-09 00:00:00+02:00,16.24,11.68,2019-10-09 09:59:00+02:00,2019-10-09 00:00:00+02:00
0,2019-10-28 00:00:00+01:00,12.79,10.25,2019-10-28 12:55:00+01:00,2019-10-28 00:00:00+01:00
0,2019-11-18 00:00:00+01:00,1.58,1.47,2019-11-18 14:14:00+01:00,2019-11-18 00:00:00+01:00
0,2019-11-28 00:00:00+01:00,6.82,5.53,2019-11-28 13:13:00+01:00,2019-11-28 01:08:00+01:00
0,2019-12-09 00:00:00+01:00,5.38,2.35,2019-12-09 16:16:00+01:00,2019-12-09 00:00:00+01:00
0,2019-12-12 00:00:00+01:00,1.73,0.93,2019-12-12 13:14:00+01:00,2019-12-12 02:14:00+01:00
0,2019-12-14 00:00:00+01:00,5.58,4.61,2019-12-14 14:41:00+01:00,2019-12-14 23:00:00+01:00
0,2020-01-28 00:00:00+01:00,3.40,2.27,2020-01-28 07:00:00+01:00,2020-01-28 01:59:00+01:00
0,2020-02-02 00:00:00+01:00,12.71,11.80,2020-02-02 19:00:00+01:00,2020-02-02 23:00:00+01:00
0,2020-02-03 00:00:00+01:00,13.04,11.52,2020-02-03 19:00:00+01:00,2020-02-03 00:00:00+01:00
0,2020-02-04 00:00:00+01:00,12.60,-0.03,2020-02-04 07:00:00+01:00,2020-02-04 00:00:00+01:00
0,2020-02-10 00:00:00+01:00,12.70,10.90,2020-02-10 07:00:00+01:00,2020-02-10 02:09:00+01:00
0,2020-02-11 00:00:00+01:00,3.55,3.41,2020-02-11 14:51:00+01:00,2020-02-11 00:00:00+01:00
0,2020-02-17 00:00:00+01:00,12.71,10.56,2020-02-17 09:38:00+01:00,2020-02-17 02:15:00+01:00
0,2020-02-25 00:00:00+01:00,10.84,4.58,2020-02-25 16:54:00+01:00,2020-02-25 00:00:00+01:00
0,2020-03-06 00:00:00+01:00,1.98,1.39,2020-03-06 14:52:00+01:00,2020-03-06 00:00:00+01:00
0,2020-03-10 00:00:00+01:00,6.04,4.77,2020-03-10 19:00:00+01:00,2020-03-10 23:00:00+01:00
0,2020-03-21 00:00:00+01:00,8.90,8.43,2020-03-21 10:50:00+01:00,2020-03-21 01:01:00+01:00
0,2020-03-29 00:00:00+01:00,5.60,4.21,2020-03-29 10:11:00+02:00,2020-03-29 00:00:00+01:00

In [99]:
df.loc[:, ['time', 'apparentTemperatureMax', 'apparentTemperatureHigh', 'apparentTemperatureHighTime', 'apparentTemperatureMaxTime']].iloc[-5:]

,time,apparentTemperatureMax,apparentTemperatureHigh,apparentTemperatureHighTime,apparentTemperatureMaxTime
0,2020-04-12 00:00:00+02:00,22.79,22.79,2020-04-12 15:47:00+02:00,2020-04-12 15:47:00+02:00
0,2020-04-13 00:00:00+02:00,19.21,19.21,2020-04-13 13:00:00+02:00,2020-04-13 13:00:00+02:00
0,2020-04-14 00:00:00+02:00,13.89,13.89,2020-04-14 15:50:00+02:00,2020-04-14 15:50:00+02:00
0,2020-04-15 00:00:00+02:00,20.09,20.09,2020-04-15 15:54:00+02:00,2020-04-15 15:54:00+02:00
0,2020-04-16 00:00:00+02:00,20.88,20.88,2020-04-16 16:34:00+02:00,2020-04-16 16:34:00+02:00